<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections >
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity>
    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Unity.Interception.Configuration">
      <container name ="aopContainer">
        <extension type="Interception">
          <register type="UnityAOP.IUserProcessor, UnityAOP" mapTo="UnityAOP.UserProcessor,UnityAOP">
            <interceptor type="InterfaceInterceptor"/>
            <!--
                下面的behavior的排列顺序即 AOP执行顺序
                所以Exception应该放在第一个，不然的话如果前面出错
                返回，会导致我们Exception的AOP代码没有执行。
            
            -->
            <interceptionBehavior type="UnityAOP.ExceptionBehavior,UnityAOP"/>
            <interceptionBehavior type="UnityAOP.LogBeforeBehavior,UnityAOP"/>
            <interceptionBehavior type="UnityAOP.ParameterCheckBehavior,UnityAOP"/>
            <interceptionBehavior type="UnityAOP.LogAfterBehavior,UnityAOP"/>
            <interceptionBehavior type=""/>
          </register>
        </extension>
      </container>
    </sectionExtension>
  </unity>
</configuration>