

<html>
<head>
    <title></title>
</head>
<body>
    <h1>
        @ViewBag.PageTitle
    </h1>
<div>
    name:@ViewBag.Employee.EmployeeName
</div>
<div>Email: @ViewBag.Employee.Email</div>
    <div>Department: @ViewBag.Employee.Department</div>
</body>
</html>