@model EmployeeManagementWeb.Models.Employee
<html>
<head>
    <title></title>
</head>
<body>
    <h1>
        @ViewBag.PageTitle
    </h1>
<div>
    name: @Model.EmployeeName
</div>
<div>Email: @Model.Email</div>
    <div>Department: @Model.Department</div>
</body>
</html>