

<html>
<head>
    <title></title>
</head>
<body>
    <h1>
        @ViewData["PageTitle"]
    </h1>
    @{ 
        var employee = ViewData["Employee"] as EmployeeManagementWeb.Models.Employee;
    }
<div>
    name:@employee.EmployeeName
</div>
<div>Email: @employee.Email</div>
    <div>Department: @employee.Department</div>
</body>
</html>