@model EmployeeManagementWeb.ViewModel.HomeDetailsViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Employee Details";
}
<h1>
    @Model.PageTitle
</h1>
<div>
    name: @Model.Employee.EmployeeName
</div>
<div>Email: @Model.Employee.Email</div>
<div>Department: @Model.Employee.Department</div>
