<?xml version="1.0"?>
<configuration>
<configSections>
  <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
</configSections>
  <unity>
    <containers>
      <container name="webAPIContainer">
        <register type="SOA.WebAPI.Unity.Interface.DBContext,SOA.WebAPI"
                  mapTo="SOA.WebAPI.Unity.Service.CustomerDBContext, SOA.WebAPI"/>
        <register type="SOA.WebAPI.Unity.Interface.IUserService,SOA.WebAPI"
                  mapTo="SOA.WebAPI.Unity.Service.UserService, SOA.WebAPI"/>
        
      </container>
    </containers>
  </unity>
</configuration>
