/* Products
----------------------------------------------------------*/

.productCategories
{
    width: 300px;
    height:600px;
    float:left;
    margin: auto;
    padding-left:auto;
    padding-right:auto;
    text-align: center;
}

.productCategoriesLabel
{
    margin-top:5px;
    width:200px;
    font-size:15px;
    background-color:#0033CC;
    padding-top:15px;
    padding-bottom:15px;
    text-align:center;
    color:white;

}

.imageStyle
{
    width:300px !important;
    height:18px;
    margin:5px 0;
}

.chartdisplay
{
    float:left;
    width:500px;
    height:600px;
    background-color:#FFFFFF;
}

.dataGrid
{
    margin:5px 5px 5px 122px;
    color:Black;
    font-family:Calibri;
    font-size:12px;
    border-color:black;
    width:500px;
}
.chartHeaderStyle
{
    background-color:#307D7E;
    font-weight:bold;
    color:white;
    text-align:left;
}
.chartItemStyle
{
    background-color:#98AFC7;
    color:Black;
    text-align:left;
    height:30px;
}
.chartAlternatingItemStyle
{
    background-color:#C6DEFF;
    color:black;
    height:30px;
}

