<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TropicalConnStr" value="Server=IVAN_ZHANG;Database=TropicalServer; Integrated Security=true;"/>
  </appSettings>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="WCFSecondDemo.AutoComplete">
                <endpoint address="" binding="basicHttpBinding" contract="WCFSecondDemo.IAutoComplete">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/WCFSecondDemo/AutoComplete/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>
