@model Eva.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

<div>
    <ul type="circle">
        <li>Membership Type: @Model.MembershipType.Name</li>
        @if (@Model.BirthDate != null)
        {
            <li>Birth Date: @Model.BirthDate.Value.ToString("d MMM yyyy") </li>
        }
    </ul>

</div>

