
@{
    ViewBag.Title = "CustomerIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Customers</h2>
<div>@Html.ActionLink("New Customer", "New", "Customer", null, new { @class = "btn btn-primary" })</div>

<table id="customers" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Customer</th>
            <th>MembershipType</th>
            <th>EDIT</th>
            <th>DELETE</th>
        </tr>
    </thead>
    <tbody></tbody>

</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var customersTable = $("#customers");

            var table = customersTable.DataTable({
                ajax: {
                    url: "/api/customersapi",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, customer) {
                            return "<a href='/customer/details/" + customer.id + "'>" + customer.name + "</a>";
                        }
                    },
                    {
                        data: "membershipType.name"
                    },
                    {
                        data: "id",
                        render: function (data, type, customer) {
                            return "<a href='/customer/edit/" + customer.id + "'>Edit</a>";
                        }
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-customer-id='" + data + "'>Delete</button>";
                        }
                    }
                ]
            });


            customersTable.on("click", ".js-delete",
                function () {
                    var button = $(this);
                    bootbox.confirm("Are you want to delete this customer?",
                        function (result) {
                            if (result) {
                                $.ajax({
                                    url: "/api/customersapi/" + button.attr("data-customer-id"),
                                    method: "DELETE",
                                    success: function () {
                                        table.row(button.parents("tr")).remove().draw();
                                    }
                                });
                            }
                        });

                });
        });
    </script>
}

