@model Eva.ViewModels.RandomMovieVIewModel

@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var className = Model.Customers.Count > 0 ? "popular" : null;
}
<h2 class="@className"> @Model.movie.Name</h2>
@if (Model.Customers.Count == 0)
{
    <text>No one rent this movie! </text>
}
else
{
    <ul>
        @foreach (var customer in Model.Customers)
        {
            <li>@customer.Name</li>
        }
    
    </ul>
}
